<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <title>良田影像采集管理系统</title>
	    <link href="${ctxPath}/static/css/highshot/style.css" rel="stylesheet" type="text/css" />
	    <script language=JavaScript>

	        function deloptionRes()
	        {   
		        var obj=document.getElementById("selRes").options; 
		        while (obj.length > 0)
		        {
			        obj.options.remove(obj.length - 1);   
		        }   
	        }
	        function addoptionRes(s)   
	        {
		        var obj=document.getElementById("selRes").options; 
		        var opt = new Option(s, obj.length ); 
		        obj.options.add(opt);   
	        }
	        function deloptionScanSize()
	        {   
		        var obj=document.getElementById("selScanSize").options; 
		        while (obj.length > 0)
		        {
			        obj.options.remove(obj.length - 1);
		        }   
	        }
	        function addoptionScanSize(s)   
	        {
		        var obj=document.getElementById("selScanSize").options; 
		        var opt = new Option(s, obj.length ); 
		        obj.options.add(opt);   
	        }
	        function deloptionColor()
	        {   
		        var obj=document.getElementById("selColor").options; 
		        while (obj.length > 0)
		        {
			        obj.options.remove(obj.length - 1);   
		        }   
	        }
	        function addoptionColor(s)   
	        {
		        var obj=document.getElementById("selColor").options; 
		        var opt = new Option(s, obj.length ); 
		        obj.options.add(opt);   
	        }
	        function deloptionDev()
	        {   
		        var obj=document.getElementById("selDev").options; 
		        while (obj.length > 0)
		        {
			        obj.options.remove(obj.length - 1);   
		        }   
	        }
	        function addoptionDev(s)   
	        {
		        var obj=document.getElementById("selDev").options; 
		        var opt = new Option(s, obj.length ); 
		        obj.options.add(opt);   
	        }
	        function deloptionRotate()
	        {   
		        var obj=document.getElementById("selRotate").options; 
		        while (obj.length > 0)
		        {
			        obj.options.remove(obj.length - 1);   
		        }   
	        }
	        function addoptionRotate(s)   
	        {
		        var obj=document.getElementById("selRotate").options; 
		        var opt = new Option(s, obj.length ); 
		        obj.options.add(opt);   
	        }
	        function contentLoad()
	        {
		      	fun();  
	        }
	        function fun()
	        {
			deloptionDev();
			var iDevIndex = ScanCtrl.GetCurDevIndex();
			if(iDevIndex != -1)
			{
		        	var count = ScanCtrl.GetDeviceCount();
		        	for(i = 0; i < count; i++)
		        	{
			        	var s = ScanCtrl.GetDevName(i);
					addoptionDev(s);
		        	}
				document.getElementById("selDev").value=iDevIndex;
			}

			deloptionRes();
			var iResIndex = ScanCtrl.GetCurResolutionIndex();
			if(iResIndex != -1)
			{
		        	var count = ScanCtrl.GetResolutionCount(); 
		        	for(i = 0;i < count; i++)
		        	{
			        	var w=ScanCtrl.GetResolutionWidth(i);
			        	var h=ScanCtrl.GetResolutionHeight(i);
			        	var str=w.toString()+"x"+h.toString();
			        	addoptionRes(str);
		        	} 
				document.getElementById("selRes").value=iResIndex;
			}   

			deloptionScanSize();
			var iScanSizeIndex = ScanCtrl.GetCurScanSizeIndex();
			if(iScanSizeIndex != -1)
			{
		        	var count = ScanCtrl.GetScanSizeCount();
		        	for(i = 0; i < count; i++)
		        	{
			        	var str = ScanCtrl.GetScanSizeName(i);
					addoptionScanSize(str);
		        	} 
				addoptionScanSize("自定义");
				
				var bCustom = ScanCtrl.IsCustom();
				if(bCustom)
				{
					document.getElementById("selScanSize").value=count;
				}
				else
				{
					document.getElementById("selScanSize").value=iScanSizeIndex;
				}
			}

			deloptionRotate();
			var iRotateIndex = ScanCtrl.GetCurRotateAngle();
			if(iRotateIndex != -1)
			{
				addoptionRotate("0");
				addoptionRotate("90");
				addoptionRotate("180");
				addoptionRotate("270");
				document.getElementById("selRotate").value=iRotateIndex;
			}

			deloptionColor();
			var iColorIndex = ScanCtrl.GetCurColor();
			if(iColorIndex != -1)
			{
				addoptionColor("彩色");
				addoptionColor("灰度");
				addoptionColor("黑白");
				document.getElementById("selColor").value=iColorIndex;
			}
			
			var bRotateCrop = ScanCtrl.IsRotateCrop();
			document.getElementById("rotatecrop").checked=bRotateCrop;
			var bDelBkColor = ScanCtrl.IsDelBackColor();
			document.getElementById("delbkcolor").checked=bDelBkColor;
	        }
		function start_preview(url)  
		{   
			ScanCtrl.StartPreviewEx();
			fun();
 		}
		function stop_preview(url) 
		{   
			ScanCtrl.StopPreviewEx();
			fun();
		}
	        function TakePic(url)    
	        {
			var date=new Date();
			var yy=date.getFullYear().toString();
			var mm=(date.getMonth()+1).toString();
			var dd=date.getDate().toString();
			var hh=date.getHours().toString();
			var nn=date.getMinutes().toString();
			var ss=date.getSeconds().toString();
			var mi=date.getMilliseconds().toString();
			var picName=yy+mm+dd+hh+nn+ss+mi;
		
			var path="C:/Users/VKL/1001asfaf_01.jpg";
		        var flag=ScanCtrl.Scan(path);		
			if(flag)
			{
				ScanCtrl.UploadFileOfHTTP("http://127.0.0.1/hblw/api/query.do", path, "D:\\");
				EThumbnails.AddToDisplay(path);
			}
	        }
	        function Property(url) 
            	{
	            	ScanCtrl.Property();
	        }
		function ZoomIn()
		{
			ScanCtrl.SetZoomIn();
		}
		function ZoomOut()
		{
			ScanCtrl.SetZoomOut();
		}
	        function changeresolution()
	        {
		        var num= ScanCtrl.GetResolutionCount();
		        var obj=document.getElementById("selRes").options; 
		        var x = obj.selectedIndex;    

			ScanCtrl.SetResolution(x);  
			fun();   
	        }
	        function changedev()
	        {
		        var num= ScanCtrl.GetDeviceCount();
		        var obj=document.getElementById("selDev").options; 
		        var x = obj.selectedIndex;    

			ScanCtrl.SetCurDev(x); 
			fun();
	        }
	        function changescansize()
	        {
		        var   num=ScanCtrl.GetScanSizeCount();
		        var   obj=document.getElementById("selScanSize").options; 
		        var   x = obj.selectedIndex;    

			ScanCtrl.SetScanSize(x);
			fun();
	        }     
	        function changerotate()
	        {
		        var   obj=document.getElementById("selRotate").options; 
		        var   x = obj.selectedIndex;    

			ScanCtrl.SetVideoRotate(x);
			fun();
	        }	  
	        function changecolor()
	        {
		        var obj = document.getElementById("selColor").options; 
		        var x = obj.selectedIndex;    

			ScanCtrl.SetVideoColor(x);
			fun();
	        }
	        function RotateCrop(obj)
	        {
		        ScanCtrl.SetRotateCrop(obj.checked);
			fun();
	        }
	        function RemoveBackColor(obj)
	        {
		        ScanCtrl.DelBackColor(obj.checked);
			fun();
	        }

        </script>

	<script language="Javascript" event="DeviceChange(code)" for="ScanCtrl">  
		fun();
	</script>

        <style type="text/css">
            .one 
            {
	            border-color: #ffa8a8;
	            background-color: #fff3f3;
	            color: #000;
            }
        </style>
    </head>
    <body onload="contentLoad()">
	<div class="top">
		<div class="global-width">
			<!--<img src="images/logo.gif" class="logo" />-->
		</div>
	</div>
	<div class="status">
		<div class="global-width">
			<span class="usertype">你好,欢迎使用良田影像管理系统!</span>
		</div>
	</div>
	<div class="main">
		<div class="global-width">
			<div class="nav" id="nav">
				<div class="t"></div>
				<dl class="open">
					<dt
						onclick="this.parentNode.className=this.parentNode.className=='open'?'':'open';">图片管理</dt>
					<dd>
						<a onclick="start_preview()" target="_self">开始预览</a>
					</dd>
					<dd>
						<a onclick="stop_preview()" target="_self">停止预览</a>
					</dd>
					<dd>
						<a onclick="TakePic()" target="_self">拍照</a>
					</dd>
					<dd>
						<a onclick="Property()" target="_self">属性设置</a>
					</dd>
					<dd>
						<a onclick="ZoomIn()" target="_self">放大</a>
					</dd>
					<dd>
						<a onclick="ZoomOut()" target="_self">缩小</a>
					</dd>
				</dl>
                
			</div>
          
			<div class="action">
				<div class="t">开始预览</div>
				<div class="pages">
					<div>
						<object classid="clsid:090457CB-DF21-41EB-84BB-39AAFC9E271A"
							id="ScanCtrl" codebase="*.cab#version=1,0,0,1" width="660"
							height="400"></object>
					</div>
                      
					<form>
						<table width="90%" border="0" cellspacing="0" cellpadding="0"
							class="addform-item">
							<tbody>
								<tr>
									<td><input class="submit_01" type="button" value="开始预览"
										onclick="start_preview()" /> <input class="submit_01"
										type="button" value="停止预览" onclick="stop_preview()" /> <input
										class="submit_01" type="button" value="拍照" onclick="TakePic()" />
										<input class="submit_01" type="button" value="属性"
										onclick="Property()" /> <input class="submit_01"
										type="button" value="放大" onclick="ZoomIn()" /> <input
										class="submit_01" type="button" value="缩小" onclick="ZoomOut()" />

									</td>
								</tr>
								<tr>
									<td>分辨率：<select id="selRes" style="width: 90px" name="selRes"
										onchange="changeresolution()"></select> 扫描尺寸：<select id="selScanSize"
										style="width: 90px" name="selScanSize" onchange="changescansize()"></select>
										旋转角度：&nbsp;&nbsp;<select id="selRotate" style="width: 90px"
										name="selRotate" onchange="changerotate()"></select> <input id="rotatecrop"
										type="checkbox" value="" onclick="RotateCrop(this)" />纠偏裁边</td>
								</tr>
								<tr>
									<td>颜&nbsp;&nbsp;色：<select id="selColor" style="width: 90px"
										name="selColor" onchange="changecolor()"></select> 设备列表：<select
										id="selDev" style="width: 90px" name="selDev"
										onchange="changedev()"></select> <input id="delbkcolor" type="checkbox" value=""
										onclick="RemoveBackColor(this)" />去底色</td>
								</tr>
							</tbody>							
						</table>
					</form>
                    <div>
                    	<OBJECT ID="EThumbnails"  CLASSID="CLSID:E8B3DD46-A440-4C3C-AB0A-DC689EEBDA84" width="660" height="150"></OBJECT>
            		 </div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">Copyright &nbsp; &copy; &nbsp; 深圳市良田科技有限公司</div>
    </body>
</html>