<!--
*
*  INSPINIA - Responsive Admin Theme
*  version 2.7
*
-->

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>机动车检验机构尾气排放联网平台</title>

    <link href="${ctxPath}/static/inspinia/css/bootstrap.min.css" rel="stylesheet">
    <link href="${ctxPath}/static/inspinia/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="${ctxPath}/static/inspinia/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="${ctxPath}/static/inspinia/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="${ctxPath}/static/inspinia/css/animate.css" rel="stylesheet">
    <link href="${ctxPath}/static/inspinia/css/style.css" rel="stylesheet">
    <link href="${ctxPath}/static/css/newstyle.css" rel="stylesheet">

</head>

<body>
    <div id="wrapper">
       #parse("/header.vm")
        <div id="page-wrapper" class="gray-bg" >
        <div class="row wrapper border-bottom white-bg ">
                <div class="col-lg-10">
                    <h2>车辆信息</h2>
                    <ol class="breadcrumb crumb">
                     <li>
                          <span>当前位置:</span>
                      </li>
                      <li>
                          <a href="index.html">车辆检测信息</a>
                      </li>
                      <li class="active">
                          <strong>车辆信息</strong>
                      </li>
                  </ol>
                </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight ecommerce">


            <div class="ibox-content m-b-sm border-bottom">
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label" for="order_id">号牌号码</label>
                         <form role="form" class="form-inline">
                                <div class="form-group">
                                          <select class="form-control col-sm-4" name="account">
	                                                <option>赣A</option>
	                                                <option>赣B</option>
	                                                <option>赣C</option>
	                                                <option>赣D</option>
	                                             </select>
                                </div>
                                <div class="form-group">
                                    <input type="text"  class="form-control">
                                </div>
                            </form>
                    </div>   
                  <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label" for="status">号牌颜色</label>
                            <select class="form-control" name="account">
                                  <option><font><font>选项1</font></font></option>
                                  <option><font><font>选项2</font></font></option>
                                  <option><font><font>选项3</font></font></option>
                                  <option><font><font>选项4</font></font></option>
                              </select>
                        </div>
                    </div>
                     <div class="col-sm-3">
	                    <div class="form-group" style="margin-top:23px;">
	                          <button class="btn btn-primary" type="submit"><font><font>查询</font></font></button>
	                          <button class="btn btn-white" type="submit"><font><font>重置</font></font></button>
	                     </div>
	                     </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content">
<form action="" method="post" name="myform" id="myform" enctype="multipart/form-data">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                <thead>
                                <tr>

                                    <th>机动车编号</th>
                                    <th data-hide="phone">号牌号码</th>
                                    <th data-hide="phone">车辆颜色</th>
                                    <th data-hide="phone">号牌种类</th>
                                    <th data-hide="phone,tablet" >车辆识别代号</th>
                                    <th data-hide="phone">使用性质</th>
                                    <th class="text-right">操作</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                       31234566
                                    </td>
                                    <td>
                                                                                                                                        赣AHJ3098
                                    </td>
                                    <td>
                                                                                                                                           白色
                                    </td>
                                    <td>
                                                                                                                                           小汽车
                                    </td>
                                    <td>
                                        VX1234354353454
                                    </td>
                                    <td>非营运
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group">
                                            <button class="btn-white btn btn-xs" onclick="window.location.href='clxq.vm'">查看</button>
                                            <!--<button class="btn-white btn btn-xs">编辑</button>-->
                                            <!--<button class="btn-white btn btn-xs">删除</button>-->
                                        </div>
                                    </td>
                                </tr>
                                
                               



                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                               
                                </tfoot>
                            </table>
</form>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          

       
               #parse("/footer.vm")
             
          </div>
          </div>
         
        
        
    <!-- Mainly scripts -->
    <script src="${ctxPath}/static/inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="${ctxPath}/static/inspinia/js/bootstrap.min.js"></script>
    <script src="${ctxPath}/static/inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="${ctxPath}/static/inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="${ctxPath}/static/inspinia/js/inspinia.js"></script>
    <script src="${ctxPath}/static/inspinia/js/plugins/pace/pace.min.js"></script>

    <!-- Data picker -->
    <script src="${ctxPath}/static/inspinia/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <!-- FooTable -->
    <script src="${ctxPath}/static/inspinia/js/plugins/footable/footable.all.min.js"></script>

    <script src="${ctxPath}/static/js/common.js"></script>
    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();

            $('#date_added').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#date_modified').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });

    </script>
</body>
</html>
